
@{
    ViewData["Title"] = "ChangePasswordForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Change Password</h2>
<form asp-controller="user" asp-action="changePassword">
    <input name="currentPassword" placeholder="Username" />
    <input name="newPassword" placeholder="New Password" type="password" />
    <input name="confirmPassword" placeholder="Confirm Password" type="password" />
    <input type="submit" value="Log In" />
</form>

