@model CompanyModel
@{
    ViewData["Title"] = "detail1Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detail</h2>
<p>Name: @Model._name</p>
<p>Descript: @Model._description</p>
<p>Phone number: @Model._phoneNumber</p>
<p>Email: @Model._phoneNumber</p>

